.root {
   



    .navbar {
        display: flex;
        gap: 20px;
        padding: 0 10px;
        height: 50px;
        border-bottom: 1px solid rgb(219, 219, 219);

        .logo {
            display: flex;
            gap: 5px;
            align-items: center;
            font-size: 16px;
            font-weight: 600;

            
                .logo_image {
                    height: 30px;
                    width: auto;
                }
            
          
        }

   

        .burger {
            display: none;
          
           
        }
    }

      
    
  

   

 
    @media (max-width: 992px) {
        .navbar {
            .menu {
                display: none;
            }

         .logo {
            margin: 0 auto;
            transform: translate(-34px);
         }
        
            .burger {
              display: block;
             
            }
          }
    }
  
   
}



