@import './../../styles/variables.module.scss';



.root {
   height: 200vh;
   display: grid;
   grid-template-columns: max-content 1fr;
   grid-template-rows: max-content 80px min-content 180px;

   .platforms {
      grid-row: 1;
      grid-column: 1/3;
   }


   .search {
      margin-left: -200px;
      align-self: center;
      justify-self: center;
      grid-row: 2;
      grid-column: 2;
      width: 280px;
   }

   .sort {
      align-self: center;
      justify-self: end;
      grid-row: 2;
      grid-column: 2;
      > span {
         margin-right: 10px;
         vertical-align: bottom;
         font-size: 17px;
      }
   }

   .genres_title {
      font-size: 20px;
      justify-self: center;
      align-self: center;
      grid-row: 2;
      grid-column: 1;
   }

   .genres {
      grid-row: 3;
      grid-column: 1;
   }

   .product_cards {
      height: min-content;
      justify-items: center;
      display: grid;
      padding: 0px 20px;
      grid-row: 3;
      grid-column: 2;
      grid-gap: 25px;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   }

   .product_card {
      width: 200px;
   }


   .pagination {
      justify-self: center;
      grid-row: 4;
      grid-column: 2;
      align-self: center;
   }

//    @include for-desktop-large {
//       .product_cards {
//          grid-template-columns: repeat(5, 1fr);
//       }
//    }

//   @include for-desktop-medium {
//    .product_cards {
//       grid-template-columns: repeat(4, 1fr);
//    }
//   }

  @include for-desktop-small {
   .sort {
      margin-right: 20px;
   }
  }


 @include for-tablet-landscape {
   // .product_cards {
   //    width: 95%;
   //    margin: 0 auto;
   //    grid-template-columns: none;
   //    grid-auto-flow: row;
   // }

   .search {
      justify-self: start;
      margin-left: 20px;
   }
   .genres {
      display: none;
   }
   .platforms {
      display: none;
   }
   .genres_title {
      display: none;
   }
 }
  
 @include for-tablet-portrait {
   .sort {
      >span {
         display: none;
      }
   }
   .search {
      width: 200px;
   }     

 }
  
 @include for-phone {


 }
}
