


.root {
    padding: 0 40px;
    background-color: rgb(35, 35, 35);
    height: 50px;

    .list {
        height: 100%;
        align-items: center;
        display: flex;
        gap: 20px;
        
        li {
            padding: 5px 10px;
            cursor: pointer;
            color: white;
        }

        li:hover {
            cursor: pointer;
            padding: 5px 10px;
            background-color: rgb(255, 255, 255);
            color: black;
            border-radius: 10px;
        }
    }
}