



.root {
   min-height: 100vh;

   

 
   .new_title {
      margin-top: 50px;
      text-align: center;
      font-size: 30px;
   }

   
   .catalog_btn {
    
      margin: 0 auto;
      margin-top: 50px;
      width: max-content;
      height: max-content;

      button {
         box-shadow: 10px 10px 5px  rgb(73, 73, 73);
         background-color: green;
         height: max-content;
         padding: 5px 40px;
         font-size: 40px;

         &:hover {
            background-color: rgb(1, 163, 1) !important;
         }
      }
   }

   .new_slider {
      margin-top: 50px;
   }
  

   .info {
      margin: 0 auto;
      max-width: 800px;
      text-align: center;
  
      margin-top: 50px;
      padding: 0 20px;

      .info_title {
      }
      
      .info_text {
         padding-top: 20px;
      }

   }

   
}