



.root {
  user-select: none;
   position: relative;


 
   



    
 .item {
    position: relative;

    .image {
    
   
        width: 100%;
    
      
        
        
        img {
            height: auto;
            width: 100%;
            z-index: -1;
        }

    
    }

    .text {
        font-size: 40px;
        color: white;
        position: absolute;
        top: 20%;
        left: 10%;
    }
 }

 :global(.slick-prev) {
      
        position: absolute !important;
         
        left: 50px !important;
        z-index: 10 !important;
        
        svg {
            color: rgb(255, 255, 255);
            height: 40px;
            width: 40px;
          }
    
   }


 :global(.slick-next) {
      
        position: absolute !important;
         
        right: 50px !important;
        z-index: 10 !important;
        
        svg {
            color: rgb(255, 255, 255);
            height: 40px;
            width: 40px;
          }
    
   }
   
}


