@import "./../../../styles/variables.module.scss";

.root {
  user-select: none;
  position: relative;
  width: 100%;

  :global(.slick-prev) {
    display: none !important;
    position: absolute !important;
    top: auto !important;
    bottom: 34px !important;
    left: 5% !important;
    z-index: 2 !important;

    svg {
      height: 40px;
      width: 40px;
      color: white;
    }
  }

  :global(.slick-next) {
    display: none !important;
    position: absolute !important;
    top: auto !important;
    bottom: 34px !important;
    right: 5% !important;
    z-index: 2 !important;

    svg {
      height: 40px;
      width: 40px;
      color: white;
    }
  }

  .item {
    position: relative;
  }

  .image {
    width: 100%;

    img {
      height: auto;
      width: 100%;
      z-index: -1;
    }

    .img_mobile {
      display: none;
    } 
  }

  .info {
    display: none;
    height: 58px;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: space-between;
    color: white;
    background: rgba(0, 0, 0, 0.597);
    padding-top: 10px;
    padding-left: 14%;
    padding-right: 14%;
    padding-bottom: 20px;
    top: auto;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    text-align: center;

    span {
      font-size: 15px;
    }
  }

  &:hover {
    .info {
      display: flex;
    }

    :global(.slick-prev) {
      display: block !important;
    }
    :global(.slick-next) {
      display: block !important;
    }
  }

  @include for-tablet-landscape {

    
    .info {
      padding-left: 5%;
      padding-right: 5%;

      display: flex;

    
    }

    &:hover {
      :global(.slick-prev) {
        display: none !important;
      }
      :global(.slick-next) {
        display: none !important;
      }
    }
  }

  @include for-phone {

    .info {
      font-size: $font-size--small;
    }

    .image {
      .img_desktop {
        display: none;
      }

      .img_mobile {
        display: block;
      }
    }
  }
}
