



.root {
    height: 100%;
    align-items: end;
    display: flex;
    gap: 20px;

 
    .item {
        cursor: pointer;
        display: flex;
        height: 100%;
        align-items: center;
        position: relative;
        
        &:hover::before {
               content: '';
               position: absolute;
               top:0;
               left: 0;
               right: 0;
               height: 2px;
               background-color: black;
        }

      
        &__active {
            &::before {
                content: '';
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                height: 2px;
                background-color: black;
            }
          
    }
    }

  
  
}