@import '../../styles/variables.module.scss';

.root {
    margin-top: 100px;
    padding: 40px 0;
    height: max-content;
    background-color: rgb(16, 15, 15);
    color: white;


   
    
    .navigation_list {
        display: flex;
        gap: 5%;
        justify-content: center;
        
    }

    .navigation_item {
          font-size: 20px;

        a {
            color: rgb(201, 201, 201);
        }
    }

    .support  {
        padding: 0 20px;
        font-size: 24px;;
        margin-top: 40px;
        text-align: center;
        color: rgb(37, 121, 37);

    }

    .info {
        margin-top: 30px;
        text-align: center;
        padding: 0 50px;
        color: rgb(114, 114, 114);
    }

    .copyright {
        padding-left: 20px;
        margin-top: 40px;
        color: rgb(114, 114, 114);
    }


   

    @include for-phone {
        .navigation_list {
            flex-direction: column;
            text-align: center;
            gap: 5px;
        }
        .copyright {
            padding-left: unset;
            text-align: center;
        }
    }
   
}
