@import '../../../styles/variables.module.scss';


.description {
    position: absolute;
    z-index: 10;
}

.root {
    width: 200px;
    position: relative;
    user-select: none;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    background-color: rgb(227, 227, 227);

    
  

    .image {
        img {
            height: 300px;
            width: 100%;
        }
    }

    .platform_icon {
         position: absolute;
         padding: 5px;
         border-radius: 0 0 10px 0;
        top: 0px;
        left: 0px;
        width: max-content;
        height: 45px;
        background-color: rgba(0, 0, 0, 0.597);
        img {
            height: 100%;
            width: auto;
        }
    }

    .name {
        font-size: 14px;
        margin-top: 5px;
        text-align: center;
    }

    .price {
        background-color: rgba(0, 0, 0, 0.597);
        padding: 4px 7px;
        position: absolute;
        color: white;
        bottom: 0px;
        right: 0px;
        font-size: 20px;
        border-radius: 10px 0 10px 0;
        width: max-content;

        span {
            font-size: 18px;
        }
    }


     
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.542) 0px 0px 20px;
    }

    

  
}








//sizes


.medium {
    height: 300px;
    width: 200px;

}


.large {
    height: 450px;
    width: 300px;

    .image {
        img {
            height: 450px;
            width: 100%;
        }
    }
}


//for phone card size

@include for-phone {
    .root {
        
    
    @include for-phone {
        height: 450px;
        width: 300px;
        
    .image {
        img {
            height: 450px;
            width: 100%;
        }
    }
    }
    }
}
