

.root {
    position: relative;

    .cardHolder {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        overflow: hidden;
   

        &::-webkit-scrollbar {
            width: 0;
        }

       


        .cardHolder_inner {
            width: max-content;
            display: flex;
             gap: 20px;
             justify-content: start;
            // animation-timing-function: linear;
            // animation-duration: 80s;
            // animation-iteration-count: infinite;
            // animation-name: slide;
   
            @keyframes slide {
                from {
                    margin-left: 0;
                }


                to {
                    margin-left: -3518px;
                }
            }
        }

      
          
    }

   

}



