@import './../../../../../styles/variables.module.scss';



.root {
  
 


.current_platform {
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;

    .change_title {
        font-size: 20px;
    }

    .changed_item {
      cursor: pointer;
      padding: 5px 10px;
      background-color: rgb(255, 255, 255);
      color: black;
      border-radius: 10px;
    }
}


  .menu {
    // у родительского компонента должен быть position:relative;
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    top: 40px;
    background-color: rgb(35, 35, 35);
    z-index: 1;

    &_hide {
      display: none;
    }

    &_show {
      display: block;
    }
  }

  .menu_list {
    padding: 20px;
    font-size: 14px;
    background-color: rgb(35, 35, 35);
    height: max-content;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
    // gap: 10px;

  }

      
  .item {
    user-select: none;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    color: white;

    .icon {
           height: 25px;
       img {
            height: 100%;
            width: auto;
        }
    }
    

    &:hover {
        cursor: pointer;
        padding: 5px 10px;
        background-color: rgb(255, 255, 255);
        color: black;
        border-radius: 10px;
    }
}


     @include for-tablet-portrait {
      .menu_list {
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-gap: 10px;

        .item {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
     }


     @include for-phone {
      .menu_list {
        display: flex;
        flex-direction: column;
      }
     }


}
